<style>
   h1{
  color:#c0d6ff;
  text-align: center;
     font-size:50px;
  font-family: 'Bebas Neue', cursive;
}
  
h2{
  color:#c2ffda;
  font-size: 35px;
  font-family: 'Varela Round', sans-serif;
}
p{
  color: #fffac0;
  font-size: 25px;
  font-family: 'Comfortaa', cursive; 
}
body{
  background-color: #ffc0cb;
}
.headbox{
  background-color:#fefbea;
}
.innerline{
  border: #ffc0cb outset solid 5px;
}
   <!- sloppy copy right here for class fix later or at some time also there was a marginfor the body but idk i dont want that to mess with stuff->

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
@media screen and (max-width: 950px) {
  body{
    background-color:#000000;
  }
  h1{
    color:#33ffff;
  }
  h2{
    color:#ffcc33;
  }
  p{
    color:#ff3399
  }
  .headbox{
    background-color:#000000;
  }
  .innerline{
  border: #c2ffda inset solid 5px;
  }
}
   
  </style>
